<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/front/common :: headerSrc('마케팅소개')">

</head>

<body class="stretched">
<th:block th:replace="/fragments/front/common :: gaScript"></th:block>
	<div id="wrapper" class="clearfix">
		<th:block th:replace="/fragments/front/common :: headNav"></th:block>
		<section id="content">
			<div class="content-wrap">
				<div class="container">
					<div class="row col-mb-50">
						<div class="col-12 mb-5" style="text-align: center;">
							<img src="/resource/front/image/detail/marketing-detail-01.png">
							<a href="/productInsta"><img src="/resource/front/image/detail/marketing-detail-02.png"></a>
						</div>
					</div>
				</div>
				<!-- <!-- <div class="line"></div>
				<div class="row align-items-stretch">

					<div class="col-md-6 col-padding min-vh-75"
						style="background: url('/resource/front/image/new03/1-1.png') center center no-repeat; background-size: cover;"></div>

					<div class="col-md-6 col-padding">
						<div>
							<div class="heading-block">
								<span class="before-heading color">CEO &amp; Co-Founder</span>
								<h3>John Doe</h3>
							</div>

							<div class="row col-mb-50">

								<div class="col-lg-6">
									<p>Employment respond committed meaningful fight against
										oppression social challenges rural legal aid governance.
										Meaningful work, implementation, process cooperation, campaign
										inspire.</p>
									<p>Advancement, promising development John Lennon, our
										ambitions involvement underprivileged billionaire philanthropy
										save the world transform. Carbon rights maintain healthcare
										emergent, implementation inspire social change solve clean
										water livelihoods.</p>
									<a href="#"
										class="social-icon inline-block si-small si-light si-rounded si-facebook">
										<i class="icon-facebook"></i> <i class="icon-facebook"></i>
									</a> <a href="#"
										class="social-icon inline-block si-small si-light si-rounded si-twitter">
										<i class="icon-twitter"></i> <i class="icon-twitter"></i>
									</a> <a href="#"
										class="social-icon inline-block si-small si-light si-rounded si-gplus">
										<i class="icon-gplus"></i> <i class="icon-gplus"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-stretch">

					<div class="col-md-6 col-padding min-vh-75 order-md-last"
						style="background: url('/resource/front/image/new03/1-2.png') center center no-repeat; background-size: cover;"></div>

					<div class="col-md-6 col-padding">
						<div class="heading-block-left-wrap">
							<div class="heading-block heading-left"
								style="text-align: right;">
								<span class="before-heading color">Developer &amp;
									Evangelist</span>
								<h3>Mary Jane</h3>
							</div>

							<div class="row col-mb-50">
								<div class="col-lg-4"></div>
								<div class="col-lg-8">
									<p>Employment respond committed meaningful fight against
										oppression social challenges rural legal aid governance.
										Meaningful work, implementation, process cooperation, campaign
										inspire.</p>
									<p>Advancement, promising development John Lennon, our
										ambitions involvement underprivileged billionaire philanthropy
										save the world transform. Carbon rights maintain healthcare
										emergent, implementation inspire social change solve clean
										water livelihoods.</p>
									<a href="#"
										class="social-icon inline-block si-small si-light si-rounded si-facebook">
										<i class="icon-facebook"></i> <i class="icon-facebook"></i>
									</a> <a href="#"
										class="social-icon inline-block si-small si-light si-rounded si-twitter">
										<i class="icon-twitter"></i> <i class="icon-twitter"></i>
									</a> <a href="#"
										class="social-icon inline-block si-small si-light si-rounded si-gplus">
										<i class="icon-gplus"></i> <i class="icon-gplus"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
			<th:block th:replace="/fragments/front/common :: iconsBox"></th:block>
		</section>
		<th:block th:replace="/fragments/front/common :: footerNav"></th:block>
	</div>
	<th:block th:replace="/fragments/front/common :: script"></th:block>
</body>

</html>