<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/front/common :: headerSrc('공지사항')">

</head>

<body class="stretched">
<th:block th:replace="/fragments/front/common :: gaScript"></th:block>
	<div id="wrapper" class="clearfix">
		<th:block th:replace="/fragments/front/common :: headNav"></th:block>
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row col-mb-50">
						<div class="col-12">
							<picture>
							<source media="(max-width: 760px)"
								srcset="/resource/front/image/mobile/notice-m.png">
							<img data-animate="fadeIn"
								src="/resource/front/image/new04/notice.png"
								alt="공지사항"> </picture>
						</div>
					</div>

				</div>

				<div class="divider divider-sm">
					<i class="icon-star"></i>
				</div>

				<section id="content">
					<div class="content-wrap ">
						<div class="container clearfix">
							<h4>공지사항</h4>
							<div class="toggle toggle-bg">
								<div class="toggle-header bg-blue">
									<div class="toggle-icon">
										<i class="toggle-closed icon-ok-circle"></i> <i
											class="toggle-open icon-remove-circle"></i>
									</div>
									<div class="toggle-title">1번 / 공지사항 제목 / 2022.06.01 / 공지사항 분류</div>
								</div>
								<div class="toggle-content">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Assumenda, dolorum, vero ipsum
									molestiae minima odio quo voluptate illum excepturi quam cum
									voluptates doloribus quae nisi tempore necessitatibus dolores
									ducimus enim libero eaque explicabo suscipit animi at quaerat
									aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde
									quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle toggle-bg">
								<div class="toggle-header bg-orange">
									<div class="toggle-icon">
										<i class="toggle-closed icon-ok-circle"></i> <i
											class="toggle-open icon-remove-circle"></i>
									</div>
									<div class="toggle-title">2번 / 공지사항 제목 / 2022.06.01 / 공지사항 분류</div>
								</div>
								<div class="toggle-content">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Assumenda, dolorum, vero ipsum
									molestiae minima odio quo voluptate illum excepturi quam cum
									voluptates doloribus quae nisi tempore necessitatibus dolores
									ducimus enim libero eaque explicabo suscipit animi at quaerat
									aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde
									quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle toggle-bg">
								<div class="toggle-header bg-red">
									<div class="toggle-icon">
										<i class="toggle-closed icon-ok-circle"></i> <i
											class="toggle-open icon-remove-circle"></i>
									</div>
									<div class="toggle-title">3번 / 공지사항 제목 / 2022.06.01 / 공지사항 분류</div>
								</div>
								<div class="toggle-content">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Assumenda, dolorum, vero ipsum
									molestiae minima odio quo voluptate illum excepturi quam cum
									voluptates doloribus quae nisi tempore necessitatibus dolores
									ducimus enim libero eaque explicabo suscipit animi at quaerat
									aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde
									quas beatae vero vitae nulla.</div>
							</div>
							<div class="toggle toggle-bg">
								<div class="toggle-header bg-blue">
									<div class="toggle-icon">
										<i class="toggle-closed icon-ok-circle"></i> <i
											class="toggle-open icon-remove-circle"></i>
									</div>
									<div class="toggle-title">4번 / 공지사항 제목 / 2022.06.01 / 공지사항 분류</div>
								</div>
								<div class="toggle-content">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Assumenda, dolorum, vero ipsum
									molestiae minima odio quo voluptate illum excepturi quam cum
									voluptates doloribus quae nisi tempore necessitatibus dolores
									ducimus enim libero eaque explicabo suscipit animi at quaerat
									aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde
									quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle toggle-bg">
								<div class="toggle-header bg-orange">
									<div class="toggle-icon">
										<i class="toggle-closed icon-ok-circle"></i> <i
											class="toggle-open icon-remove-circle"></i>
									</div>
									<div class="toggle-title">5번 / 공지사항 제목 / 2022.06.01 / 공지사항 분류</div>
								</div>
								<div class="toggle-content">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Assumenda, dolorum, vero ipsum
									molestiae minima odio quo voluptate illum excepturi quam cum
									voluptates doloribus quae nisi tempore necessitatibus dolores
									ducimus enim libero eaque explicabo suscipit animi at quaerat
									aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde
									quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle toggle-bg">
								<div class="toggle-header bg-red">
									<div class="toggle-icon">
										<i class="toggle-closed icon-ok-circle"></i> <i
											class="toggle-open icon-remove-circle"></i>
									</div>
									<div class="toggle-title">6번 / 공지사항 제목 / 2022.06.01 / 공지사항 분류</div>
								</div>
								<div class="toggle-content">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Assumenda, dolorum, vero ipsum
									molestiae minima odio quo voluptate illum excepturi quam cum
									voluptates doloribus quae nisi tempore necessitatibus dolores
									ducimus enim libero eaque explicabo suscipit animi at quaerat
									aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde
									quas beatae vero vitae nulla.</div>
							</div>
							<div class="toggle toggle-bg">
								<div class="toggle-header bg-blue">
									<div class="toggle-icon">
										<i class="toggle-closed icon-ok-circle"></i> <i
											class="toggle-open icon-remove-circle"></i>
									</div>
									<div class="toggle-title">7번 / 공지사항 제목 / 2022.06.01 / 공지사항 분류</div>
								</div>
								<div class="toggle-content">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Assumenda, dolorum, vero ipsum
									molestiae minima odio quo voluptate illum excepturi quam cum
									voluptates doloribus quae nisi tempore necessitatibus dolores
									ducimus enim libero eaque explicabo suscipit animi at quaerat
									aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde
									quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle toggle-bg">
								<div class="toggle-header bg-orange">
									<div class="toggle-icon">
										<i class="toggle-closed icon-ok-circle"></i> <i
											class="toggle-open icon-remove-circle"></i>
									</div>
									<div class="toggle-title">8번 / 공지사항 제목 / 2022.06.01 / 공지사항 분류</div>
								</div>
								<div class="toggle-content">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Assumenda, dolorum, vero ipsum
									molestiae minima odio quo voluptate illum excepturi quam cum
									voluptates doloribus quae nisi tempore necessitatibus dolores
									ducimus enim libero eaque explicabo suscipit animi at quaerat
									aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde
									quas beatae vero vitae nulla.</div>
							</div>

							<div class="toggle toggle-bg">
								<div class="toggle-header bg-red">
									<div class="toggle-icon">
										<i class="toggle-closed icon-ok-circle"></i> <i
											class="toggle-open icon-remove-circle"></i>
									</div>
									<div class="toggle-title">9번 / 공지사항 제목 / 2022.06.01 / 공지사항 분류</div>
								</div>
								<div class="toggle-content">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Assumenda, dolorum, vero ipsum
									molestiae minima odio quo voluptate illum excepturi quam cum
									voluptates doloribus quae nisi tempore necessitatibus dolores
									ducimus enim libero eaque explicabo suscipit animi at quaerat
									aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde
									quas beatae vero vitae nulla.</div>
							</div>
							<div class="toggle toggle-bg">
								<div class="toggle-header bg-red">
									<div class="toggle-icon">
										<i class="toggle-closed icon-ok-circle"></i> <i
											class="toggle-open icon-remove-circle"></i>
									</div>
									<div class="toggle-title">10번 / 공지사항 제목 / 2022.06.01 / 공지사항 분류</div>
								</div>
								<div class="toggle-content">Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Assumenda, dolorum, vero ipsum
									molestiae minima odio quo voluptate illum excepturi quam cum
									voluptates doloribus quae nisi tempore necessitatibus dolores
									ducimus enim libero eaque explicabo suscipit animi at quaerat
									aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde
									quas beatae vero vitae nulla.</div>
							</div>
						</div>
					</div>

					<ul class="pagination justify-content-center">
						<li class="page-item disabled"><a class="page-link" href="#"
							tabindex="-1" aria-disabled="true"> <span class="op-05"
								aria-hidden="true">&laquo;</span></a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#"
							aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
					</ul>

				</section>

				<!-- <div class="container clearfix mt-5">
					<div
						class="owl-carousel image-carousel carousel-widget flip-card-wrapper clearfix"
						data-margin="20" data-nav="true" data-pagi="false"
						data-items-xs="2" data-items-sm="2" data-items-md="3"
						data-items-lg="4" data-items-xl="4" style="overflow: visible;">

						<div class="flip-card">
							<div class="flip-card-front dark"
								style="background-image: url('/resource/front/images/services/macbook.png')">
								<div class="flip-card-inner">
									<div class="card bg-transparent border-0">
										<div class="card-body">
											<h3 class="card-title mb-0">Trekking</h3>
											<span class="fst-italic">Chiang Mai</span>
										</div>
									</div>
								</div>
							</div>
							<div class="flip-card-back bg-danger no-after">
								<div class="flip-card-inner">
									<p class="mb-2 text-white">Lorem ipsum, dolor sit amet
										consectetur adipisicing elit. Alias cum repellat velit.</p>
									<button type="button" class="btn btn-outline-light mt-2">View
										Details</button>
								</div>
							</div>
						</div>

						<div class="flip-card">
							<div class="flip-card-front dark"
								style="background-image: url('/resource/front/images/services/macbook.png');">
								<div class="flip-card-inner">
									<div class="card bg-transparent border-0">
										<div class="card-body">
											<h3 class="card-title mb-0">Flexible Workspace</h3>
											<span class="fst-italic">Bali, Indonesia</span>
										</div>
									</div>
								</div>
							</div>
							<div class="flip-card-back"
								style="background-image: url('/resource/front/images/services/macbook.png');">
								<div class="flip-card-inner">
									<p class="mb-2 text-white">Lorem ipsum, dolor sit amet
										consectetur adipisicing elit. Alias cum repellat velit.</p>
									<button type="button" class="btn btn-outline-light mt-2">View
										Details</button>
								</div>
							</div>
						</div>

						<div class="flip-card">
							<div class="flip-card-front dark"
								style="background-image: url('/resource/front/images/services/macbook.png');">
								<div class="flip-card-inner">
									<div class="card bg-transparent border-0">
										<div class="card-body">
											<h3 class="card-title mb-0">Wedding</h3>
											<span class="fst-italic">London</span>
										</div>
									</div>
								</div>
							</div>
							<div class="flip-card-back"
								style="background-image: url('/resource/front/images/services/macbook.png');">
								<div class="flip-card-inner">
									<p class="mb-2 text-white">Lorem ipsum, dolor sit amet
										consectetur adipisicing elit. Alias cum repellat velit.</p>
									<button type="button" class="btn btn-outline-light mt-2">View
										Details</button>
								</div>
							</div>
						</div>

						<div class="flip-card">
							<div class="flip-card-front dark"
								style="background-image: url('/resource/front/images/services/macbook.png');">
								<div class="flip-card-inner">
									<div class="card bg-transparent border-0">
										<div class="card-body">
											<h3 class="card-title mb-0">Beautiful Nature</h3>
											<span class="fst-italic">New Zealand</span>
										</div>
									</div>
								</div>
							</div>
							<div class="flip-card-back"
								style="background-image: url('/resource/front/images/services/macbook.png');">
								<div class="flip-card-inner">
									<p class="mb-2 text-white">Lorem ipsum, dolor sit amet
										consectetur adipisicing elit. Alias cum repellat velit.</p>
									<button type="button" class="btn btn-outline-light mt-2">View
										Details</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row col-mb-50 mt-5">
						<div class="fancy-title title-bottom-border">
							<h3>어트렉션의 장점</h3>
						</div>
						<div class="col-12">
							<div id="side-navigation" class="row col-mb-50"
								data-plugin="tabs">
								<div class="col-md-6 col-lg-4">
									<ul class="sidenav">
										<li class="ui-tabs-active"><a href="#snav-content1"><i
												class="icon-screen"></i>Responsive Layout<i
												class="icon-chevron-right"></i></a></li>
										<li><a href="#snav-content2"><i class="icon-magic"></i>Retina
												Ready Display<i class="icon-chevron-right"></i></a></li>
										<li><a href="#snav-content3"><i class="icon-star3"></i>Fast
												Performance<i class="icon-chevron-right"></i></a></li>
										<li><a href="#snav-content4"><i class="icon-gift"></i>Bootstrap
												3.2 Compatible<i class="icon-chevron-right"></i></a></li>
										<li><a href="#snav-content5"><i class="icon-adjust"></i>Light
												&amp; Dark Scheme<i class="icon-chevron-right"></i></a></li>
									</ul>
								</div>

								<div class="col-md-6 col-lg-8">
									<div id="snav-content1">
										<div class="heading-block">
											<h3>Flexible Responsive Layout</h3>
											<span>We support multiple Devices &amp; Layouts.</span>
										</div>
										<div class="fslider alignleft" data-arrows="false"
											style="width: 250px;">
											<div class="flexslider">
												<div class="slider-wrap">
													<div class="slide">
														<img src="/resource/front/images/portfolio/4/1.jpg"
															alt="Slider 1">
													</div>
													<div class="slide">
														<img src="/resource/front/images/portfolio/4/7.jpg"
															alt="Slider 2">
													</div>
													<div class="slide">
														<img src="/resource/front/images/portfolio/4/10.jpg"
															alt="Slider 3">
													</div>
												</div>
											</div>
										</div>

										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit. Amet, repellendus, quibusdam minima fugiat unde ex
											cumque velit quod culpa itaque architecto dolorem quis
											corporis iste recusandae. Dolorum, at, aspernatur, ut,
											molestias eum natus deserunt id tempora et unde atque dolorem
											modi sed laudantium eius reiciendis ratione perspiciatis
											fugit iure illo.</p>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur
											adipisicing elit. Quam, quaerat, sequi, architecto
											consequuntur quae placeat expedita facilis reprehenderit
											facere accusamus asperiores nam odit neque excepturi aut a
											dolor quisquam reiciendis dignissimos at molestiae tenetur
											fugit fuga. Vitae, numquam, assumenda cupiditate sint quam
											asperiores quae aut nemo ipsa ut mollitia rem necessitatibus
											officiis eveniet cum deleniti dolorum nostrum odio laudantium
											inventore autem dolore amet enim magni vel? Vero voluptas
											maxime dolore.</p>
									</div>

									<div id="snav-content2">
										<div class="heading-block">
											<h3>Brilliant Retina Display</h3>
											<span>Crisp &amp; Clear Graphics across all your
												Retina &amp; Standard Devices.</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit. Omnis praesentium quaerat blanditiis incidunt corporis,
											odit placeat dolorum. Voluptate laborum facere reprehenderit
											dolores repudiandae voluptatibus earum quod dignissimos odit!
											Aperiam optio delectus dolorum, fugit praesentium aut
											voluptate autem, sapiente labore architecto magni cumque
											magnam nobis, error accusamus soluta. Facilis, architecto,
											eos!</p>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit. Rerum consequuntur quaerat vero qui ipsum sunt velit
											vel, officia, nihil amet ullam. Omnis nam rerum, harum!</p>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit. Minima perspiciatis cumque, ipsa laudantium totam
											blanditiis, expedita ut odit, cupiditate rem facilis ea ab,
											hic amet numquam nulla possimus consectetur ipsum fuga! Atque
											quibusdam, id eius illum numquam porro architecto accusamus
											nam adipisci mollitia excepturi dolores non, maiores sit fuga
											vero cumque ullam. Vitae quidem totam similique tempore
											eligendi necessitatibus culpa.</p>
									</div>

									<div id="snav-content3">
										<div class="heading-block">
											<h3>Powerful &amp; Optimized Code</h3>
											<span>Smart Reusable code all throughout the Template
												for Infinite Customizations.</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit. Sit perferendis quisquam quod eius illo possimus id
											maiores consequatur accusamus commodi?</p>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit. Nulla, optio animi adipisci distinctio fuga, nihil
											perferendis dignissimos. Aperiam odio voluptatem dignissimos
											aliquam? Ea, nihil animi, recusandae quos nulla, suscipit
											magni provident nesciunt incidunt quo dicta asperiores iste.
											Illo, qui culpa. Reprehenderit in asperiores blanditiis
											pariatur aliquid iusto. Quisquam voluptatibus nostrum
											architecto repudiandae voluptate, ipsum quae iure! Commodi
											recusandae, repellendus voluptas fugiat aspernatur culpa quod
											delectus quidem consequatur odio assumenda saepe inventore
											molestiae ea expedita hic dolorum distinctio ut! Maiores,
											error.</p>
									</div>

									<div id="snav-content4">
										<div class="heading-block">
											<h3>Bootstrap Compatible</h3>
											<span>Use the amazing features of the Bootstrap
												Framework.</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit. Nam facilis reiciendis maxime minus, iusto molestiae
											dolor veritatis officia cumque a sit, ducimus iste beatae eos
											harum fugit. Fuga et, iste sequi ea quibusdam doloremque
											delectus. Ducimus delectus incidunt, deleniti assumenda
											dignissimos magni, quo laboriosam architecto dolorum, facere
											cum tempore, totam.</p>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit. Cum esse odio, voluptatem, fuga dolore labore.
											Voluptate, tenetur. Ab temporibus sed adipisci dolor ipsa
											cumque iusto maiores dolorum molestias magni expedita
											pariatur modi facere cupiditate eius quas, officiis eligendi
											cum veritatis dolore autem? Inventore vero doloremque sunt,
											et modi eos placeat.</p>
									</div>

									<div id="snav-content5">
										<div class="heading-block">
											<h3>Light &amp; Dark Schemes</h3>
											<span>Use the dual tone schemes or mix them according
												to your needs.</span>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit. Praesentium voluptas eveniet, recusandae ducimus
											commodi, maiores voluptatem consequuntur autem quod id
											molestiae quam nulla minus aliquam nobis laboriosam nisi ut
											aut adipisci esse omnis at. Voluptatem, natus distinctio
											minus possimus, aliquid magnam ratione. Adipisci odit nemo
											voluptatum quas animi, amet et fuga quisquam possimus, dolore
											id sint eum consequuntur, magnam aliquid impedit doloremque
											voluptates, ducimus laboriosam. Sint quisquam molestias
											libero voluptatum.</p>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit. Consequatur nisi nemo et esse. Fugiat facere harum,
											error iusto assumenda illo debitis quas, fugit similique
											minima.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</section>
		<th:block th:replace="/fragments/front/common :: footerNav"></th:block>
	</div>
	<th:block th:replace="/fragments/front/common :: script"></th:block>
</body>

</html>